---
import '../styles/global.css';  

---

<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monviso - Servizi di Pulizia</title>
	<meta name="description" content="Monviso offre servizi di pulizia civile e industriale a Carmagnola e dintorni. Contattaci per un preventivo gratuito!">
    <meta name="keywords" content="pulizie civili, pulizie industriali, trattamenti pietra, levigatura marmi, cristallizzazioni, sanificazioni, Carmagnola">
    <meta name="author" content="Monviso">
    <link rel="icon" href="../../src/assets/logo.ico" type="image/x-icon">
</head>
<body class="bg-white text-gray-900">
	<slot />
</body>
</html>
